[submodule "Proton/vendor/spdlog"]
	path = Proton/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Proton/vendor/yaml-cpp"]
	path = Proton/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Proton/vendor/assimp"]
	path = Proton/vendor/assimp
	url = https://github.com/assimp/assimp.git
