[submodule "Proton/vendor/spdlog"]
	path = Proton/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Proton/vendor/imgui"]
	path = Proton/vendor/imgui
	url = https://github.com/TheCherno/imgui
