# Binaries
**/bin/
!vendor/bin
bin-int/
Intermediates/

# Proton files
*.log

#Models
!Proton/Models/**/*.obj

##TEMP
#Assets
**.asset
**.asset.meta

#Scenes
**.proton
##

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj